<<<<<<< HEAD
.hero{
display: flex;
background: linear-gradient(180deg, #82afd2, #fff9e122 60%);
height: 100vh;
=======
.hero {
  display: flex;
  /* justify-content: space-between; */
  background: linear-gradient(180deg, #82afd2, #fff9e122 60%);
  /* height: 100vh; */
>>>>>>> 1ae844a (mini-project done)
}

.hero-left {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-left: 88px;
  line-height: 1.1;
}

.hero-left h2 {
  color: black;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 100px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 300px;
  height: 50px;
  border-radius: 75px;
  margin-top: 24px;
  background: #027004;
  color: white;
  font-size: 20px;
}

<<<<<<< HEAD
.hero-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 410px; */
=======
.hero-right {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
>>>>>>> 1ae844a (mini-project done)
}
