.item {
  width: 500px;
}

.item p {
  margin: 6px 0px;
  font-size: 18px;
  font-weight: 600;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  font-size: 18px;
  font-weight: 600;
}

.item-price-new > span {
  color: #fa6338;
}

.item-price-old {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.item-price-old > span {
  text-decoration: line-through;
  color: gray;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
