.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
<<<<<<< HEAD
}

=======
  padding-top: 120px;
}
>>>>>>> 1ae844a (mini-project done)
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> 1ae844a (mini-project done)
.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: black;
  font-size: 20px;
}
<<<<<<< HEAD

.footer-links li {
  cursor: pointer;
}

=======
.footer-links li {
  cursor: pointer;
}
>>>>>>> 1ae844a (mini-project done)
.footer-social-icon {
  display: flex;
  gap: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> 1ae844a (mini-project done)
.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: white;
  border: 1px solid #56af1e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD

=======
>>>>>>> 1ae844a (mini-project done)
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> 1ae844a (mini-project done)
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #56dd07;
}
